  
{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-2">
    </div>

    <div class="col-md-4 phone-section">
      <div class="phones">
        <img class="screen-image" src="{% static 'images/insta-screen.png' %}" alt="" width="85%" height="85%">
      </div>
    </div>
    <div class="col-md-5 form-section">

      {% if form.errors %}
        <p>Password or Username is incorrect</p>
      {% endif %}

      <div class="card card-default">

        <div class="card-body">
          <div class="logo-header">
            <img class="text-center" src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/100px-Instagram_logo.svg.png' id='logo-name' style="width: 100px;height:20px;">
          </div> 
          <div class="text-center">
          <form action="/accounts/login/" method="post">

            {% csrf_token%}
            {% bootstrap_form form %}

            <div class="form-group">
              <input type="submit" class="btn btn-primary login-button" value="Log in">
              

            </div>
            <input type="hidden" name="next" value="/">

          </form>
        </div>
        </div>

      </div>

      <div class="card card-default">
        <div class="card-body text-center">
          <p> Don't have  an account? <span><a class="" href="/accounts/register">Sign Up</a></span></p>

        </div>
      </div>
    </div>
    <!-- Empty div -->
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}