{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-2">
    </div>

    <div class="col-md-3">
      <div class="phones">
        <img class="screen-image" src="{% static 'images/insta-screen.png' %}" alt="" width="80%" height="80%" style="margin-top: 20%;">
      </div>
    </div>

    <div class="col-md-5" style="margin-top: 5%;">

      {% if form.errors %}
      <p>Password or Username is incorrect</p>
      {% endif %}

      <div class="card card-default">

        <div class="card-body">
          <div class="logo-header">
            <img class="text-center"
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png'
              style="width: 30%;height:20%;" id='logo-name'>
          </div>
          <div class="text-center">
            <form action="/accounts/register/" method="post">

              {% csrf_token%}
              {% bootstrap_form form layout='inline' %}

              <div class="form-group">
                <input type="submit" class="btn btn-primary login-button" value="Sign Up">
            

              </div>
              <input type="hidden" name="next" value="/">

            </form>
          </div>
        </div>

      </div>

      <div class="card card-default">
        <div class="card-body text-center">
          <p>Already have an account? <a href="/accounts/login/"> Sign In</a></p>

        </div>
      </div>
    </div>
    <!-- Empty div -->
    <div class="col-md-2"></div>
  </div>
  
</div>


{% endblock %}