<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark bg-light " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id='left'>
          <a href='/'><img
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Instagram_simple_icon.svg/25px-Instagram_simple_icon.svg.png'
              id='logo-icon'></a>
          <a href='/'><img
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/100px-Instagram_logo.svg.png'
              id='logo-name'></a>
        </div>
      </div>

      <div id='center'>
        <input id="input-field" type="text" placeholder='Search' style="text-align: center">
        <form class="navbar-form navbar-left" action="{% url 'search_results'%}">
          <div class="form-group">
            <input id="input-field" type="text" placeholder='search' style="text-align: center" name="search">
          </div>
        </form>
      </div>
    </div>

  </nav>
</body>

</html>